<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
{% extends "data/index.html" %}
{% block content %}
    {% load static %}
    <div class='container'>
        <div class="row">


            <div class="col-12">
                <div class="jumbotron mt-auto">
                    <h3>Проверить актуальность данных.</h3>
                    <p class="lead">Данные Центробанка РФ.</p>
                    <a href="{% url 'load_data' %}" class="btn btn-primary" role="button">Выгрузить данные с сайта</a>
                    <a href="{% url 'load_base' %}" class="btn btn btn-primary" role="button">Обновить базу данных</a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-6">
                <h1 style="margin-right: 170px">
                    <svg class="bi bi-grid-fill" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <rect width="6" height="6" x="3.5" y="8.5" rx="1"></rect>
                        <rect width="6" height="6" x="10.5" y="8.5" rx="1"></rect>
                        <rect width="6" height="6" x="10.5" y="1.5" rx="1"></rect>
                        <rect width="6" height="6" x="3.5" y="1.5" rx="1"></rect>
                    </svg>
                    Вид
                </h1>

                <form action="{% url 'choices' %}" method="GET">
                    {% csrf_token %}
                    <select name="choices" class="custom-select ">
                        <option selected="">Выберите вид</option>
                        <option>Графический</option>
                        <option>Текстовый</option>
                    </select>
                    <div class="col-0"><input style="margin-top: 20px" type="submit" value="Подтвердить"
                                              class="btn btn btn-secondary"></div>
                </form>
            </div>

            {% if choices == 'Текстовый' %}
                <div class="col-0" offset-0 style="margin-left:20px">
                    {% include 'data/includes/text_report.html' %}
                </div>
            {% endif %}
            {% if choices == 'Графический' or bank != '' %}

                <div class="col-6" offset-0 style="margin-left:0px">
                    {% include 'data/includes/chose_bank.html' %}
                </div>


            {% endif %}


        </div>


    </div>
    <div class="container">
        <div class="row">
            <div style="margin-top:40px" class="col-12">

                {% if bank != '' %}

                    {% include 'data/includes/chose_column.html' %}

                {% endif %}

            </div>
        </div>
    </div>

    <footer style="margin-top: 100px" class="text-muted">
        <div class="container">
            <p class="float-right">

            </p>


        </div>
    </footer>
    <p style="margin-left: 50%;">ИП 2020.</p>
{% endblock %}